<?xml version="1.0" encoding="UTF-8" ?>
<container
        xmlns="http://symfony.com/schema/dic/services"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd"
>
    <services>
        <defaults
                autowire="true"
                autoconfigure="true"
        />

        <!-- Password History -->
        <service
                id="Choks\PasswordPolicy\Event\PasswordPolicyAttributeListener"
                class="Choks\PasswordPolicy\Event\PasswordPolicyAttributeListener"
        >
            <tag name="doctrine.event_listener" event="onFlush"/>
            <tag name="doctrine.event_listener" event="postRemove"/>
        </service>

        <!-- Policy Check Exception Listener -->
        <service
                id="Choks\PasswordPolicy\Event\PasswordPolicyValidationExceptionListener"
                class="Choks\PasswordPolicy\Event\PasswordPolicyValidationExceptionListener"
        >
            <argument key="$throwJsonBadRequest">%password_policy.produce_json_bad_request%</argument>
            <tag name="kernel.event_listener" priority="1"/>
        </service>

    </services>
</container>
